* {
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5.%;
    font-family: «Helvetica Neue», Helvetica, Arial, sans-serif;
}

body {
    background-color: #FAFAFA;
}


/* NAVIGATION */
.headerContainer {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-color: #ECEFF1;
    width: 100%;
    height: auto;
    padding: 10px;
}

.navHeader ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 30px;

}

.navHeader ul li a {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #3B71CA;
    color: white;
    padding: 10px 24px;
    border-radius: 9px;
    transition-duration: 0.4s;
    margin-left: 15px;
    font-size: 16px;
}

.navHeader ul li a:hover {
    background-color: #FAFAFA;
    color: #332D2D;
}

/* IMAGEN LOGO*/
.img_logo {
    width: 100px;
    height: auto;
    border-radius: 50px;
}

/*BUSCADOR*/
.brow_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brow {
    align-items: center;
    justify-content: center;
}

/* SECTION */
.sectionContainer {
    background-color: #ECEFF1;
    ;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.titleArticle {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #DC4C64;
}

.listCards {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.listCards li {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #14A44D;
    color: white;
    padding: 10px 24px;
    margin-left: 15px;
    border-radius: 9px;
}

.imgSection {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.divContainerImg {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/*TITLES GENERALES*/
.divContainerTitles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

h1 {
    position: absolute;
    font-size: 60px;
}

.border {
    color: white;
    text-shadow:
        -1px -1px 0 #54B4D3,
        1px -1px 0 #FFEE58,
        -1px 1px 0 #54B4D3,
        1px 1px 0 #FFEE58;
}

.wave {
    color: #54B4D3;
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave {

    0%,
    100% {
        clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}


/*asdasd*/

/*FOOTER */
footer {
    background-color: #ECEFF1;
}